

services:
  # Redis 서비스
  redis:
    image: redis:latest
    container_name: redis-container
    ports:
      - "6379:6379"
    networks:
      - product-net

  # RabbitMQ 서비스
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq-container
    ports:
      - "5672:5672"  
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    networks:
      - product-net

  # 상품 서버 서비스
  product-service:
    build: .  # 현재 디렉토리의 Dockerfile을 사용하여 이미지 빌드
    container_name: product-service-container
    ports:
      - "8081:8081"
    environment:
      # 중요: 로컬 호스트가 아닌 docker-compose의 서비스 이름 'redis'를 사용
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_RABBITMQ_PORT=5672
      - SPRING_RABBITMQ_USERNAME=guest
      - SPRING_RABBITMQ_PASSWORD=guest
    depends_on:
      - redis  # redis가 먼저 실행된 후 실행됨
      - rabbitmq
    networks:
      - product-net

networks:
  product-net:
    driver: bridge
